<section class="blog">
    <div class="container">
        <div class="blog__row">
            <div class="blog__column">
                <div class="blog__title">Советы и информация </div>
                <div class="blog__titlelink"><a href="" aria-label="View all">Смотреть всё <i class="fa-solid fa-angle-right"></i></a></div>
            </div>
            <div class="blog__column">
                <div class="blog__tabs">
                    <!-- Tab links -->
                    <div class="tabs">
                        <button class="tablinks active" data-country="tabs1"><p data-title="Суть месячных">Суть месячных</p></button>
                        <button class="tablinks" data-country="tabs2"><p data-title="Первые месячные">Первые месячные</p></button>
                        <button class="tablinks" data-country="tabs3"><p data-title="Задержка месячных">Задержка месячных</p></button>
                    </div>

                    <!-- Tab content -->
                    <div class="wrapper_tabcontent">
                        <div id="tabs1" class="tabcontent active">
                            <h3>Суть месячных</h3>
                            <div class="article-wrap">
                                <div class="article-section-block">
                                    <div class="articlecard article-item">
                                        <div class="article-img-wrap">
                                            <picture>
                                                <source srcset="../img/esli-mesyachnye-nachalis-ranshe-sroka-vozmozhnye-prichiny.webp" type="image/webp">
                                                <img loading="lazy" src="../img/esli-mesyachnye-nachalis-ranshe-sroka-vozmozhnye-prichiny.jpg" class="article-img ls-is-cached lazyloaded" alt="Brand" width="" height="">
                                            </picture>
                                        </div>
                                        <div class="card-body article-body">
                                            <h2 class="card-title title">Если месячные начались​ раньше срока. Причины.​</h2>
                                            <a href="/blog/sut-mesyachnykh/mesyachnye-ranshe-sroka" alt="Brand" class="article-link primary-btn">Читать статью</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="article-section-block">
                                    <div class="articlecard article-item">
                                        <div class="article-img-wrap">
                                            <img src="../img/raznyy-tsvet-krovi-na-protyazhenii-menstruatsii-chto-eto-znachit.jpg" class="article-img ls-is-cached lazyloaded" alt="Brand">
                                        </div>
                                        <div class="card-body article-body">
                                            <h2 class="card-title title">Если месячные начались​ раньше срока. Причины.​</h2>
                                            <a href="/blog/sut-mesyachnykh/mesyachnye-ranshe-sroka" alt="Brand" class="article-link primary-btn">Читать статью</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="article-section-block">
                                    <div class="articlecard article-item">
                                        <div class="article-img-wrap">
                                            <img src="../img/esli-mesyachnye-nachalis-ranshe-sroka-vozmozhnye-prichiny.jpg" class="article-img ls-is-cached lazyloaded" alt="Brand">
                                        </div>
                                        <div class="card-body article-body">
                                            <h2 class="card-title title">Если месячные начались​ раньше срока. Причины.​</h2>
                                            <a href="/blog/sut-mesyachnykh/mesyachnye-ranshe-sroka" alt="Brand" class="article-link primary-btn">Читать статью</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div id="tabs2" class="tabcontent">
                            <h3>Первые месячные</h3>
                            <p>Paris is in the Paris department of the Paris-Isle-of-France region The French historic, political and economic capital, with a population of only 2.5 million is located in the northern part of France. One of the most beautiful
                                cities in the world. Home to historical monuments such as Notre Dame, the Eiffel tower (320m), Bastille, Louvre and many more. </p>
                        </div>

                        <div id="tabs3" class="tabcontent">
                            <h3>Задержка месячных</h3>
                            <p>Barcelona has been an urban laboratory since the high Medieval Ages. A place of diversity, a backdrop for a multiplicity of social and cultural processes on multiple scales that reflect different ways of constructing the future,
                                a city with a long experience of urban life and social innovations. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
