<section class="faq">
    <div class="container">
        <div class="faq__row">
            <div class="faq__column">
                <div class="faq__title">Найди вопрос, который тебя интересует</div>
                <div class="faq__subtitle"><a href="" aria-label="View all Questions">Смотреть все вопросы <i class="fa-solid fa-angle-right"></i></a></div>
            </div>
            <div class="faq__column">
                <div class="faq__accordion">
                    <div class="faq__item">
                        <div class="faq__head" data-accordion-element-trigger>Lorem ipsum</div>
                        <div data-accordion-element-content class="faq__content">
                            <div class="faq__sub">
                                <div class="faq__head_sub" data-accordion-element-trigger>Lorem ipsum</div>
                                <div data-accordion-element-content class="faq__content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu lectus quis mauris malesuada fringilla. Praesent non tellus massa. Phasellus at neque et massa elementum sodales. Quisque neque enim, dignissim
                                        at molessllis. Pellentesque blandit quam imperdiet lorem lobortis, at pharetra massa condimentum. Maecenas ac nibh mi. Donec suscipit dolor vitae faucibus venenatis.</p>
                                </div>
                            </div>
                            <div class="faq__sub">
                                <div class="faq__head_sub" data-accordion-element-trigger>Lorem ipsum</div>
                                <div data-accordion-element-content class="faq__content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu lectus quis mauris malesuada fringilla. Praesent non tellus massa. Phasellus at neque et massa elementum sodales. Quisque neque enim, dignissim
                                        at molessllis. Pellentesque blandit quam imperdiet lorem lobortis, at pharetra massa condimentum. Maecenas ac nibh mi. Donec suscipit dolor vitae faucibus venenatis.</p>
                                </div>
                            </div>
                            <div class="faq__sub">
                                <div class="faq__head_sub" data-accordion-element-trigger>Lorem ipsum</div>
                                <div data-accordion-element-content class="faq__content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu lectus quis mauris malesuada fringilla. Praesent non tellus massa. Phasellus at neque et massa elementum sodales. Quisque neque enim, dignissim
                                        at molessllis. Pellentesque blandit quam imperdiet lorem lobortis, at pharetra massa condimentum. Maecenas ac nibh mi. Donec suscipit dolor vitae faucibus venenatis.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="faq__item">
                        <div class="faq__head" data-accordion-element-trigger>Lorem ipsum</div>
                        <div data-accordion-element-content class="faq__content">
                            <div class="faq__sub">
                                <div class="faq__head_sub" data-accordion-element-trigger>Lorem ipsum</div>
                                <div data-accordion-element-content class="faq__content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu lectus quis mauris malesuada fringilla. Praesent non tellus massa. Phasellus at neque et massa elementum sodales. Quisque neque enim, dignissim
                                        at molessllis. Pellentesque blandit quam imperdiet lorem lobortis, at pharetra massa condimentum. Maecenas ac nibh mi. Donec suscipit dolor vitae faucibus venenatis.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>