<footer class="footer">
    <div class="container">
        <div class="footer__row">
            <div class="footer__column">
                <div class="footer__logo">
                    <img src="../img/slip_bebe.png" alt="">
                </div>
                <div class="footer__social"></div>
            </div>
            <div class="footer__column">
                <ul class="footer__links">
                    <li class="footer__item">
                        <a href="/produkciya">
                  Продукция
                  </a>
                    </li>
                    <li class="footer__item">
                        <a href="/blog">
                  Статьи
                  </a>
                    </li>
                    <li class="footer__item">
                        <a href="/o-nas">
                  О нас
                  </a>
                    </li>
                    <li class="footer__item">
                        <a href="/voprosy-i-otvety">
                  Вопросы
                  </a>
                    </li>
                    <li class="footer__item">
                        <a href="/obratnaya-svyaz">
                  Связаться
                  </a>
                    </li>
                    <li class="footer__item">
                        <a href="/karta-saita">
                  Карта сайта
                  </a>
                    </li>
                    <li class="footer__item">
                        <a href="/-/media/Project/KotexRU/Home-Page/PDF/policy.pdf">
                  Политика конфиденциальности
                  </a>
                    </li>
                    <li class="footer__item">
                        <a href="/-/media/Project/KotexRU/Home-Page/PDF/agreement.pdf">
                  Согласие на обработку ПнД
                  </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer__row">
            <div class="footer__copyright">
                <p>Все наименования, логотипы и торговые марки являются собственностью Kimberly-Clark Worldwide.Inc. Copyright 2021. Все права защищены. Посещение нашего сайта и использование представленной на нем информации регулируются правовыми положениями.
                </p>
            </div>
        </div>
    </div>
</footer>