<header class="header">
    <div class="header__wrap">
        <div class="container">
            <div class="header__row">
                <div class="header__logo">
                    <a href=""><img src="../img/slip_bebe.png" alt="slip_bebe" title="slip_bebe"></a>
                </div>
                <div class="header__social">
                </div>
                <div class="menu-trigger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="header__wrap">
        <div class="container">
            <div class="header__row">
                <nav class="nav" title="menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="#" class="nav__link">Продукция</a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">Статьи</a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">О нас</a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">Вопросы</a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">Связаться</a>
                        </li>
                    </ul>
                </nav>
                <div class="header__search">
                    <a class="search-icon-wrapper collapsed" data-toggle="collapse" href="#search-area-input" aria-label="search" icon="" wrapper="" aria-expanded="false" aria-controls="search-area-input">
                        <span class="icon-Search"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>