<section class="product-types">
    <div class="container">
        <div class="product-types__row">
            <div class="product-types__column">
                <div class="product-types__title">Kotex для тебя </div>
                <div class="product-types__read-all"><a href="" aria-label="View All Products">Посмотреть всю продукцию<i class="fa-solid fa-angle-right"></i></a></div>
            </div>
        </div>
        <div class="product-types__row">
            <div class="product-types__box">
                <div class="product-types__item">
                    <div class="product-types__img">
                        <img class="top-parallax product-parallax" src="../img/resizer.png" alt="" width="318" height="255">
                    </div>
                    <div class="product-types__content">
                        <div class="product-types__prd-title">Прокладки</div>
                        <div class="product-types__prd-descrption">
                            <p>Женские прокладки Kotex – уникальные впитывающие свойства сеточки и мягкая поверхность каждой прокладки.</p>
                        </div>
                        <div class="product-types__btn">
                            <a href="">Узнать больше</a>
                        </div>
                    </div>
                </div>
                <div class="product-types__item">
                    <div class="product-types__img">
                        <img class="top-parallax product-parallax" src="../img/318x255.png" alt="">
                    </div>
                    <div class="product-types__content">
                        <div class="product-types__prd-title">Прокладки</div>
                        <div class="product-types__prd-descrption">
                            <p>Женские прокладки Kotex – уникальные впитывающие свойства сеточки и мягкая поверхность каждой прокладки.</p>
                        </div>
                        <div class="product-types__btn">
                            <a href="">Узнать больше</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
